<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!-- <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1> -->
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>

</section> -->

  <!-- Main content -->
  <section class="content">
    <div class="container col-md-12">
      <div style="padding: 10px;">
        <input [(ngModel)]="searchString" placeholder="Search.." type="text">
        <button (click)="onSearch()" type="submit"><i class="fa fa-search"></i></button>

        <div class="container col-md-12">
              <span data-placement="top" data-toggle="tooltip"><button class="btn btn-primary "
                                                                       data-target="#create" data-title="Create"
                                                                       data-toggle="modal" id="Create"
                                                                       routerLink="/test/create"
                                                                       style="margin-left: 90.5%;margin-bottom: 5px;"><span>Create</span></button></span>

        </div>
        <hr/>
      </div>
      <!-- <div class="col-md-12">
          <div class="col-md-6">
              <span><b>Filter</b></span>
          </div>
          <div class="col-md-6">
              <i style="float: right" class="fas fa-sort-down fa-2x"></i>
          </div>
      </div> -->
    </div>
    <div class="container" style="margin-top: 2%">

    </div>

    <div class="container col-md-12" style="text-align: center">
      <h2>List Test
        <button color="warn" mat-raised-button style="float: right">Delete</button>
      </h2>

    </div>
    <div style="margin-top: 2%">


      <table [dataSource]="dataSource" mat-table matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- UserName Column -->
        <ng-container matColumnDef="TestName">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> TestName</th>
          <td *matCellDef="let element" mat-cell> {{element.TestName}} </td>
        </ng-container>

        <!-- FullName Column -->
        <ng-container matColumnDef="NameExam">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> NameExam</th>
          <td *matCellDef="let element" mat-cell> {{element.NameExam}} </td>
        </ng-container>

        <!-- Enail Column -->
        <ng-container matColumnDef="CreateBy">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> CreateBy</th>
          <td *matCellDef="let element" mat-cell> {{element.CreateBy}} </td>
        </ng-container>
        <!-- Department column-->

        <!-- Position column-->
        <ng-container matColumnDef="PassScore">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> PassScore</th>
          <td *matCellDef="let element" mat-cell> {{element.PassScore}} </td>
        </ng-container>

        <ng-container matColumnDef="SemesterName">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> SemesterName</th>
          <td *matCellDef="let element" mat-cell> {{element.SemesterName}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
          <td *matCellDef="let element" mat-cell> {{element.Status ? "Public" : "Dark"}} </td>
        </ng-container>


        <ng-container matColumnDef="Action">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
          <td *matCellDef="let element" mat-cell>
              <span data-placement="top" data-toggle="tooltip" title="Detail">
                  <button (click)="testAssignt(element.Id)" class="btn btn-success btn-xs" data-target="#detail"
                          data-title="Detail"
                          data-toggle="modal"><span class="glyphicon glyphicon-list-alt"></span></button>
                </span>
            <span data-placement="top" data-toggle="tooltip" title="Delete">
              <button (click)="deleteTest(element.Id)" class="btn btn-danger btn-xs" data-target="#delete"
                      data-title="Delete" data-toggle="modal">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </span>
            <span data-placement="top" data-toggle="tooltip" title="Detail">
                <button [routerLink]="['/test',element.Id]" class="btn btn-success btn-xs"
                        data-target="#detail" data-title="Detail"><span
                  class="glyphicon glyphicon-list-alt"></span></button>
              </span>
            <span (click)="navigateToEdit(element.Id)" data-placement="top" data-toggle="tooltip" title="Update">
                <button class="btn btn-primary btn-xs"
                ><span
                  class="glyphicon glyphicon-pencil"></span></button>
              </span>
          </td>

        </ng-container>

        <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
    </div>


  </section>
  <!-- /.content -->
</div>



