.example-container {
    height: 400px;
    width: 550px;
    overflow: auto;
  }
  
  table {
    width: 90%;
    margin: 0 auto;
    margin-left: 10%;
    
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
 
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;

}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
img{
  width: 200px;
}

td p figure img{

  width: 200px;

}
:host ::ng-deep img { 
  max-width: 200px;
}

#billdesc{
  padding-top: 50px;
}
#test{
  width: 100%;
  height: 30px;
}
option {
  height: 30px;
  line-height: 30px;
}

.editOption{
  width: 90%;
  height: 26px;
  position: relative;
  top: -29px;
  background: #E0F5FF;;
  border: 0;
  padding-left: 5px;
}