<div class="modal-header">
  <a class="btn btn-danger" href="" routerLink="/exam" style="float: right;">Go Back</a>
  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
          class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> -->
  <h2 class="modal-title custom_align" id="Heading" style="margin-left: 47%">Update Exam</h2>
</div>

<div class="container" style="width: 70%;margin-left: 47vh">
  <form (ngSubmit)="onSubmit()" [formGroup]="editForm" class="row justify-content-md-center" novalidate>
    <div class="col-md-8" style="margin-left: 10%;">
      <div *ngIf="categoryname" class="form-group row">
        <label class="col-2 col-form-label" for="example-text-input">
          Name exam:
        </label>
        <div class="col-10">
          <input class="form-control" formControlName="NameExam" id="example-text-input" type="text"
                 value="{{NameExam}}">
        </div>
      </div>
      <div *ngIf="!NameExam.valid && NameExam.touched" style="color: red">
        <span *ngIf="NameExam.hasError('required')">
          Name exam is required
        </span>
        <span *ngIf="NameExam.hasError('maxLength')">
          Name exam maxlength 50 character
        </span>


      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-email-input">
          Create By:
        </label><br/>
        <!-- <div class="col-10">
            <input class="form-control" type="" formControlName="createBy" id="example-email-input">
          </div> -->
        <div class="col-10">
          <input [readonly]=true class="form-control" formControlName="CreateBy" id="example-text-input-by" type="text"
                 value="{{CreateBy}}">
          <!-- <select class="bootstrap-select" style="width: 100%; height: 35px;" >
              <option value="admin" selected="selected">admin</option>
              <option value="manager">manager</option>

            </select> -->
        </div>

      </div>
      <!-- <div *ngIf="!CreateBy.valid && CreateBy.touched" style="color: red">
        <span *ngIf="CreateBy.hasError('required')">
          Create by is required
        </span>

      </div> -->
      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-url-fb">
          Question number:
        </label>
        <div class="col-10">
          <input [pattern]="number" class="form-control" formControlName="QuestionNumber" id="example-fb"
                 type="text"
                 value="{{QuestionNumber}}">
        </div>
      </div>
      <div *ngIf="!QuestionNumber.valid && QuestionNumber.touched" style="color: red">
        <div *ngIf="QuestionNumber.hasError('required')">
          Question number is required
        </div>
        <div *ngIf="QuestionNumber.hasError('pattern')">
          Question number is not format!
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-email-input">
          Status:
        </label><br/>

        <div class="col-10">
          <select class="bootstrap-select" formControlName="Status" style="width: 100%; height: 35px;">
            <option selected="selected" value="false">draft</option>
            <option value="true">public</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-url-fb">
          Space QuestionNumber:
        </label>
        <div class="col-10">
          <input [pattern]="number" class="form-control" formControlName="SpaceQuestionNumber" id="example-url-fb"
                 type="text"
                 value="{{SpaceQuestionNumber}}">
        </div>
      </div>
      <div *ngIf="!SpaceQuestionNumber.valid && SpaceQuestionNumber.touched" style="color: red">
        <div *ngIf="SpaceQuestionNumber.hasError('required')">
          Space QuestionNumber is required
        </div>
        <div *ngIf="SpaceQuestionNumber.hasError('pattern')">
          Space QuestionNumber is not format!
        </div>


      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-email-input">
          Create At:
        </label><br/>

        <div class="col-10">
          <input class="form-control" formControlName="CreateAt" id="example-text-input-date" readonly="true" type="text"
                 value="{{CreateAt }}">

        </div>

      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-email-input">
          Category:
        </label><br/>
        <!-- <div class="col-10">
                  <input class="form-control" type="" formControlName="createBy" id="example-email-input">
                </div> -->
        <div class="col-10">
          <select class="bootstrap-select" formControlName="CategoryId" style="width: 100%; height: 35px;">
            <option *ngFor="let item of CategoryFormApi" value="{{item.Id}}">{{item.Name}}</option>
          </select>
        </div>

      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="example-tel-input">
          Note:
        </label>
        <div class="col-10">
          <ckeditor [editor]="Editor" formControlName="Note" id="classic-editor" name="classic-editor"
                    style="height:200px;">
          </ckeditor>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-10 offset-2">
          <button (click)="validateForm()" class="btn btn-primary" style="margin-left: 45vh" type="submit">Save
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
