.example-container > {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;

}
/deep/ .justify-content-c {
  margin-top: 3.7vh;
}
/deep/ .text-center{
  margin-left: 15vh;
}

