<table class="table ">
  <tbody>
  <tr>
    <td>Media</td>
    <td>
      <div class="input-group" style="width: 267px;height: 40px;">
        <div class="custom-file">
          <input aria-describedby="inputGroupFileAddon01" class="custom-file-input" formControlName="Media" id="inputGroupFile01"
                 type="file">
        </div>
      </div>
    </td>
    <td>Status</td>
    <td>
      <select class="selectpicker" data-live-search="true" formControlName="Status"
              style="width: 267px;height: 40px;">
        <option data-tokens="ketchup mustard" value="1">status 1</option>
        <option data-tokens="mustard" value="2">status 2</option>
        <option data-tokens="frosting" value="3">status 3</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>Content</td>
    <td>
      <ckeditor [editor]="Editor" formControlName="Content" id="classic-editor" name="classic-editor">
      </ckeditor>
    </td>
    <td>isTue</td>
    <td>
      <label class="checkbox-inline">
        <input formControlName="IsTrue" type="checkbox">
      </label>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-danger" style="margin-left: 45%;" type=" button">Delete</button>
<br>
<br>

