<div style="height: 100%; width: 100%;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><img src="../../assets/image/logo.png"/></a>
      </div>
      <ul class="nav navbar-nav" style="width: 70%;font-size: 16px">
        <li class="active" style="font-size: 25px;margin-left: 32%;"><a>Exam:{{NameExam}}</a></li>

      </ul>
    </div>
  </nav>


  <div class="content-wrapper" style="width: 100%;margin-left: 0px;background-color: white ">
    <div *ngIf="testProcessings" class="box-testing">
      <div class="content-box-testing">
        <button (click)="summit()" class="btn btn-primary" style="margin-left: 23px;margin-right: 5px;width: 100px"
                type="button">Submit
        </button>
        <div class="btn btn-danger" style="margin-left: 50px;width: 100px;height: 35px">
          <!--      <span class="magin-right magin-left">-->
          <countdown units="Minutes | Seconds" end="{{countdown}}" [divider]="':'" [showZero]="true" style="float-right: -10px; height: -10%;"></countdown>
          <!--      </span>-->
        </div>
        <div style="margin-left: 23px;margin-top: 6%">

          <span><i class="fa fa-question-circle"></i>Tổng số câu hỏi: {{testCount}}</span>
        </div>
        <div style="margin-left: 23px;margin-top: 10px">
          <span><i class="fa fa-clock-o"></i>Thời gian : {{second}} Phút </span>
        </div>
        <div style="margin-left: 23px;margin-top: 10px">
          <button class="btn btn-success" type="button"></button>
          <span style="margin-left: 7px">Câu hỏi đã trả lời</span>
        </div>
        <div style="margin-left: 23px;margin-bottom: 5%;margin-top: 10px">
          <button class="btn btn-secondary" type="button"></button>
          <span style="margin-left: 7px">Câu hỏi chưa trả lời</span>
        </div>


        <div class="item-question" *ngFor="let item of questions;let i=index">
          <button (click)="scroll(item.Id)" id="btn{{item.Id}}" style="background: #bfbfbf;"
                  style="width: 40px;float:left;margin-left: 10px;margin-top: 10px"
                  type="button">{{i + 1}}</button>
        </div>


      </div>
    </div>
    <div class="content">

      <div *ngFor="let item of questions;let i=index" style="margin-left: 5%">

        <table>
          <tr id="table{{item.Id}}">
            <th>
              <h4 style="width: 65px;margin-top: 0px">Câu {{i + 1}}:</h4>
            </th>
          </tr>
          <tr>
            <td>
              <div [innerHtml]="item.Content" style="margin-top: 0px"></div>
            </td>
          </tr>
        </table>
        <div *ngIf="item.Type==1; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <textarea [(ngModel)]="item.Answer" class="content" style="width:90%;height: 100px;"></textarea>
        </ng-template>
        <ng-template #elseBlock>
          <div *ngFor="let items of item.Answers" style="width: 100%">
            <table>
              <tr>

                <td><input (click)="Onclick(items.Id,item.Id)" id="check{{items.Id}}" id-ans="items.Id"
                           type="checkbox"/>
                </td>
                <td style="padding-top: 1%;padding-left: 10px">
                  <h5 [innerHtml]="items.Content" style="line-height: 0"></h5>
                </td>
              </tr>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

