.defaultCheckbox {
  width: 15px;
  height: 15px;
}

.selected-div {
  background-color: green;
}

.button-selected {
  background-color: green;
}

img {
  height: 50px;
  margin-top: -15px;

}

/deep/ .image {
  width: 100vw;
  //text-align: center;
  img {
    width: 30vw;
    //height: 30vh;
  }
}

.content {
  width: 80%;
  height: 78%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 40px;
  //margin-top: 3%;
  //position: absolute;
  //left: 25%;
  //margin-bottom: 5%;
}

.justify-content-c {
  margin-top: 100%;
}

.item-question {
  width: 80%;
  margin-left: 1vh;
}


////// demo

input {
  width: 15px;
  height: 15px;
}

.box-testing {
  width: 20%;
  float: left;
  height: 94%;
  background-color: azure;
}
/deep/.measurements-text {
  visibility: hidden !important;
}
///deep/.measurements-number{
//  &:after:nth-child(0) {
//    content: ":";
//  }
//}
i {
  margin-right: 5px;
}
/deep/.navbar {
  margin-bottom: 0 ;
}

/deep/.content-wrapper {
  min-height: auto !important;
}
.content-box-testing {
  padding-top: 100px;
}
