<div style="width: 20%;float: left;margin-top: 5%" *ngIf="testProcessings">
    
    <button type="button" class="btn btn-primary" (click)="summit()" >Submit</button>
    <div *ngFor="let item of questions;let i=index" style="width: 80%;margin-left: 5%">
        <button (click)="scroll(item.Id)" type="button" id="btn{{item.Id}}" style="width: 40px;float:left;">{{i+1}}</button>
    </div>
</div>
<div style="width: 78%;height: 400px;float:left;overflow-y: scroll;margin-top: 5%">
  <span class="magin-right magin-left" style="position: fixed" >{{ second -(EndTest - startTest)  }}Phut</span>
    <div *ngFor="let item of questions;let i=index" style="margin-left: 5%">
     
        <table >
          <tr id="table{{item.Id}}"> 
            <td >
              <h4 style="width: 65px;margin-top: 0px">Câu {{i+1}}:</h4>
            </td>
            <td >
             <h4 [innerHtml]="item.Content"  style="margin-top: 0px"> </h4>
            </td>
          </tr>
        </table>
        <div *ngFor="let items of item.Answers" style="width: 100%">
          <table >
            <tr>
              <td><input type="checkbox" id="check{{items.Id}}"   id-ans="items.Id" (click)="Onclick(items.Id,item.Id)"/></td>
              <td style="padding-top: 1%;padding-left: 10px">
                <h5 [innerHtml]="items.Content"  style="line-height: 0"> </h5>
              </td>
            </tr>
          </table>
        </div>  
      </div>
</div>







