.defaultCheckbox {
  width: 15px;
  height: 15px;
}

.selected-div {
  background-color: green;
}

.button-selected {
  background-color: green;
}

img {
  height: 50px;
  margin-top: -15px;

}

/deep/  .image {
  width: 100vw;
  //text-align: center;
  img {
    width: 30vw;
    height: 30vh;
  }
}
.content {
  width: 70%;
  height:auto;
  float:left;
  margin-top: 3%;
  position: absolute;
  left: 25%;
  margin-bottom: 5%;
}
.justify-content-c {
margin-top:100%;
}
.item-question {
  width: 80%;
  margin-left:1vh;
}


////// demo

input {
  width: 15px;
  height: 15px;
}
.box-testing{
  width: 20%;
  float: left;
  margin-top: 5%;
  position: fixed;
  border: 1px solid #0b58a2 ;
  background-color: azure;
}

