table {
    width: 100%;
  }
th.mat-sort-header-sorted {
    color: black;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.magin {
  margin: 3% 0 0 20%;
}
.magin1 {
  margin: 5% 0 5% 43%;
}
.fixWH {
  width: 174px;
  height: 30px;
}