<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/sreleases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
  <title></title>
</head>

<body>

<div class="col-md-10 col-md-offset-2">
  <div class="container col-md-12">
    <div style="padding: 10px 10px 10px 0;">
      <input (keyup.enter)="onSearch()" [(ngModel)]="searchString" name="search" placeholder="Search.."
             type="text">
      <button (click)="onSearch()" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>

  <div class="container col-md-12">
    <mat-accordion (ngSubmit)="onFilter()" [formGroup]="filterForm">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Open filter
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field style="margin-left: 2%">
          <input [matDatepicker]="picker" formControlName="StartDay" matInput
                 placeholder="Choose a startdate">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="margin-left: 5%">
          <input [matDatepicker]="picker1" formControlName="EndDay" matInput
                 placeholder="Choose a enddate">
          <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <button (click)="onFilter()" class="btn btn-primary" style="margin-left: 5%"
                type="submit">Filter
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true">
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="container col-md-12" style="text-align: center">
    <h2>List Semaster
      <span data-placement="top" data-toggle="tooltip"><button class="btn btn-primary" data-target="#create"
                                                               data-title="Create" data-toggle="modal"
                                                               id="Create"
                                                               style="margin-left: 90.5%;margin-bottom: 5px;"><span>Create</span></button></span>
    </h2>
  </div>
  <div style="margin-top: 2%">
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                        (click)="$event.stopPropagation()" [aria-label]="checkboxLabel(row)"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> STT</th>
        <td *matCellDef="let element" mat-cell> {{element.ID}} </td>
      </ng-container>

      <ng-container matColumnDef="SemesterName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> SemesterName</th>
        <td *matCellDef="let element" mat-cell> {{element.SemesterName}} </td>
      </ng-container>

      <ng-container matColumnDef="StartDay">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> StartDay</th>
        <td *matCellDef="let element" mat-cell> {{element.StartDay | date: 'dd/MM/yyyy | H:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="EndDay">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> EndDay</th>
        <td *matCellDef="let element" mat-cell> {{element.EndDay | date: 'dd/MM/yyyy | H:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="Code">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Code</th>
        <td *matCellDef="let element" mat-cell> {{element.Code}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
        <td *matCellDef="let element" mat-cell>
          {{element.status == 0 ? "Done" : element.status == 1 ? "Public" : "Draft"}} </td>

      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell> Action</th>
        <td *matCellDef="let element" mat-cell>
          <button (click)="clone(element.ID, element.SemesterName,element.StartDay,element.EndDay)" class="btn btn-primary btn-xs" data-target="#clone"
                  data-title="Create"
                  data-toggle="modal"><i
            class="fa fa-clone"></i></button>

          <button [routerLink]="['/SemesterExamManager/detail',element.ID]"
                  class="btn btn-success btn-xs"><i
            class="fa fa-info-circle"><a></a></i></button>

          <button (click)="delete(element.ID)" class="btn btn-danger btn-xs"><i
            class="fa fa-minus-circle"></i></button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</body>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="create" class="modal fade" id="create" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title custom_align" id="Heading" style="margin-left: 35%">Create Semaster</h3>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="ctForm">
        <div class="magin">
          <b style="margin-right: 2%">SemesterName</b>
          <input class="fixWH" formControlName="SemesterName" placeholder="SemesterName..." type="text"
                 value="">
          <div *ngIf="!SemesterName.valid && SemesterName.touched" style="margin-left: 23%; color: red">
            <div *ngIf="SemesterName.hasError('required')">
              Semestername is required !
            </div>
          </div>
        </div>

        <div class="magin">
          <b style="margin-right: 11%">StartDay</b>
          <input class="fixWH" formControlName="StartDay" name="date" type="date">
          <div *ngIf="!StartDay.valid && StartDay.touched" style="margin-left: 23%; color: red">
            <div *ngIf="StartDay.hasError('required')">
              StartDay is required !
            </div>
          </div>
        </div>

        <div class="magin">
          <b style="margin-right: 12%">EndDay</b>
          <input (blur)="compareTwoDates()" class="fixWH" formControlName="EndDay" name="date" type="date">
          <div *ngIf="!EndDay.valid && EndDay.touched" style="margin-left: 23%; color: red">
            <div *ngIf="EndDay.hasError('required')">
              EndDay is required !
            </div>
          </div>
        </div>
        <div *ngIf="error.isError" style="margin-left: 38%; color: red">
          {{ error.errorMessage }}
        </div>

        <div class="magin">
          <b style="margin-right: 14%">Status</b>
          <select class="fixWH" formControlName="status">
            <!-- <option value=0>Done</option>
            <option value=1>Public</option> -->
            <option value=2>Draft</option>
          </select>
          <div *ngIf="!status.valid && status.touched" style="margin-left: 23%; color: red">
            <div *ngIf="status.hasError('required')">
              Choose Status !
            </div>
          </div>
        </div>
        <div class="magin1">
          <button (click)="onSubmit()" [disabled]="ctForm.invalid" class="btn btn-primary"
                  data-dismiss="modal" type="submit">Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal clone -->
<div aria-hidden="true" aria-labelledby="clone" class="modal fade" id="clone" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h3 class="modal-title custom_align" id="Heading" style="margin-left: 35%">CLONE SEMESTER</h3>
      </div>
      <form (ngSubmit)="onSubmit2()" [formGroup]="ctForm2">
        <div class="magin">
          <b style="margin-right: 2%">SemesterName</b>
          <input formControlName="SemesterName" style="width: 242px" type="text"
                 value="{{cloneSemester.SemesterName}}">
          <div *ngIf="!SemesterName.valid && SemesterName.touched" style="margin-left: 23%; color: red">
            <div *ngIf="SemesterName.hasError('required')">
              Semestername is required !
            </div>
          </div>
        </div>

        <!-- <div class="magin">
            <b style="margin-right: 11%">StartDay</b>
            <input type="text" name="date" formControlName="StartDay" value="{{cloneSemester.StartDay}}">
        </div> -->
        <div class="magin">

          <div class="input-append date" id="datetimepicker1">
            <b style="margin-right: 11%">StartDay</b>
            <input data-format="dd/MM/yyyy hh:mm" formControlName="StartDay" type="datetime-local"
                   value="{{cloneSemester.StartDay}}"/>
          </div>
        </div>

        <!-- <div class="magin">
            <b style="margin-right: 12%">EndDay</b>
            <input type="text" name="date" formControlName="EndDay" value="{{cloneSemester.EndDay}}">
        </div> -->
        <div class="magin">

          <div class="input-append date" id="datetimepicker1">
            <b style="margin-right: 12%">EndDay</b>
            <input data-format="dd/MM/yyyy hh:mm" formControlName="EndDay" type="datetime-local"
                   value="{{cloneSemester.EndDay}}"/>
          </div>
        </div>

        <div class="magin">
          <b style="margin-right: 14%">Status</b>
          <!-- <select formControlName="status">
              <option>0</option>
              <option>1</option>
              <option>2</option>
          </select> -->
          <span>Draft</span>
          <!-- <div  hidden class="magin">
                  <b style="margin-right: 14%">Status</b>
                  <input formControlName="status" value="1">
              </div> -->
        </div>
        <div class="magin1">
          <button (click)="onSubmit2()" [disabled]="ctForm2.invalid" class="btn btn-primary"
                  data-dismiss="modal" type="submit">Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
