

    <div class="wrapper">
        <div class="ketqua">
            <h2>KẾT QUẢ THI</h2>
            <table class="information">
                <tr>
                    <td>
                        Tên bài thi: <span>A</span>
                    </td>
                    <td class="td1">
                        Tên kỳ thi:<span>B</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tên thí sinh: <span>NK</span>
                    </td>
                    <td class="td1">
                        Email: <span>abc@cmc</span>
                    </td>
                </tr>


            </table>
            <table class="tb2" >
                <tr>
                    <td>Lần 1: </td>
                    <td class="td2" >
                            <div class="progress">
                                    <div class="progress-bar"  role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                      70%
                                    </div>
                                  </div>
                    </td>
                </tr>
                <tr>
                    <td>Lần 2: </td>
                    <td class="td2">
                            <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                      70%
                                    </div>
                                  </div>
                    </td>
                </tr>
            </table>
            <table class="tb3">
                <tr>
                    <td>Lần thi</td>
                    <td>Ngày thi</td>
                    <td>Điểm thi</td>
                    <td>Xếp loại</td>
                    <td>Trạng thái</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>10/10/2019</td>
                    <td>50</td>
                    <td>Trượt</td>
                    <td>Đã thi</td>
                </tr>
                <tr>

                    <td>2</td>
                    <td>10/10/2019</td>
                    <td>80</td>
                    <td>Đỗ</td>
                    <td>Đã thi</td>
                </tr>
            </table>
        </div>
        <table class="tb4">
            <tr>
                <td><button type="submit" class="apply"> Thi lại</button></td>
                <td class="quaylai"><button type="submit" class="apply"> Quay lại</button></td>
            </tr>
        </table>
