h2{
    text-align: center;
}
app-thi-ketquathi {
    position: relative;
}
.warapper{
   
    padding-top: 115px;
   
}
table.information{
    margin:50px auto;
    
}
.td1{
    
    padding-left: 140px;
}
table.tb2{
 height: 100px;
    width: 80%;
    margin:50px auto;
    padding: 50px 50px;
  
    
}
table.tb3{
    border: 1px solid;
    margin: 0 auto;
  width: 80%;
  height: 150px;
  padding: 50px 50px;
}
button.apply {
    margin-right: 133px;
    margin-top: 75px;
    width: 75px;
    height: 35px;
    border: none;
    background-color: #337ab7;
    color: #fffc;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.tb4{
    margin: 0 auto;
    position:absolute;
top:0px;
width:100%;
}
.quaylai{
    padding-left:700px;
}
.td2{
   margin: 0 auto;
    width: 80%;
}
table.tb3 tr td {
    text-align: center;
    width: 30%;
   
}

