<div class="wrapper">
<header class="main-header">
  <!-- Logo -->
  <a [routerLink]="['']" routerLinkActive="active" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        <b *ngIf="isAdmin">ADM</b>
        <b *ngIf="isManager">MAN</b>
        <b *ngIf="isMember">MEM</b>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b *ngIf="isAdmin">Admin</b>
      <b *ngIf="isManager">Manager</b>
      <b *ngIf="isMember">Member</b>
    </span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ02t10e803wAb6yvCxp94Sv9XxVMtqOFDganij2UVcDK4uqUNB" class="user-image">
            <span class="hidden-xs">{{UserName}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ02t10e803wAb6yvCxp94Sv9XxVMtqOFDganij2UVcDK4uqUNB" class="img-circle">

              <!-- <p>
                {{currentUser.FullName}} - {{currentUser.Position}}
                <small>Member since {{currentUser.CreatedDate|date}}</small>
              </p> -->
              <p>
                {{UserName}}
              </p>
        
            <!-- Menu Body -->
            
            <!-- Menu Footer-->
           
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar" (click)="logout()">Sign out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
</div>