<h3 style="margin-left: 40%;">create-question</h3>

<button style="margin-left: 80%;" type=" button" class="btn btn-danger">Back Home</button>
<br>
<br>
<div class="col-md-8 col-md-offset-2">
  <table class="table ">
    <tbody>
      <tr>
        <td>Category</td>
        <td>
          <select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Category 1</option>
            <option data-tokens="mustard">Category 2</option>
            <option data-tokens="frosting">Category3</option>
          </select>
        </td>
        <td>Media</td>
        <td>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Content</td>
        <td>
          <textarea style="width:267px;"></textarea>
        </td>
        <td>Suggestion</td>
        <td>
          <textarea style="width:267px;"></textarea>
        </td>
      </tr>
      <tr>
        <td>Level</td>
        <td><select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Medium</option>
            <option data-tokens="mustard">Hight</option>
            <option data-tokens="frosting">easy</option>
          </select></td>
        <td>Tags</td>
        <td><select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Tag 1</option>
            <option data-tokens="mustard">Tag 2</option>
            <option data-tokens="frosting">Tag 3</option>
          </select></td>
      </tr>
      <tr>
        <td>Question type</td>
        <td><select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Type 1</option>
            <option data-tokens="mustard">Type 2</option>
            <option data-tokens="frosting">Type 3</option>
          </select></td>
      </tr>

    </tbody>
  </table>
  <h3 style="margin-left: 35%;">create-answer</h3>
  <br>
  <table class="table ">
    <tbody>
      <tr>
        <td>Media</td>
        <td>
          <div class="input-group" style="width: 267px;height: 40px;">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>
        </td>
        <td>Status</td>
        <td>
          <select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Category 1</option>
            <option data-tokens="mustard">Category 2</option>
            <option data-tokens="frosting">Category3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Content</td>
        <td>
          <textarea style="width:267px;"></textarea>
        </td>
        <td>isTue</td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Option 1
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <button style="margin-left: 45%;" type=" button" class="btn btn-danger">Delete</button>
  <br>

  <br>
  <table class="table ">
    <tbody>
      <tr>
        <td>Media</td>
        <td>
          <div class="input-group" style="width: 267px;height: 40px;">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            </div>
          </div>
        </td>
        <td>Status</td>
        <td>
          <select class="selectpicker" data-live-search="true" style="width: 267px;height: 40px;">
            <option data-tokens="ketchup mustard">Category 1</option>
            <option data-tokens="mustard">Category 2</option>
            <option data-tokens="frosting">Category3</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Content</td>
        <td>
          <textarea style="width:267px;"></textarea>
        </td>
        <td>isTue</td>
        <td>
          <label class="checkbox-inline">
            <input type="checkbox" value="">Option 1
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  <button style="margin-left: 45%;" type=" button" class="btn btn-danger">Delete</button>
  <br>
  <br>
  <div class="row">
    <div class="col-md-2 col-md-offset-4"><button type="button" class="btn btn-success">Add Answer</button></div>
    <div class="col-md-1"><button type="button" class="btn btn-primary">Save</button></div>

  </div>

</div>