<div class="content-wrapper" style="width: 100%;margin-left: 0px;background-color: white">
  <div style="width: 25%;float: left;margin-top: 5%" *ngIf="testProcessings">

    <button type="button" class="btn btn-primary" (click)="summit()"
      style="margin-left: 23px;margin-right: 5px;width: 100px">Submit</button>
  </div>
  <div style="width: 70%;height: 500px;float:left;overflow-y: scroll;margin-top: 3%">

    <div *ngFor="let item of results;let i=index" style="margin-left: 5%">
      
      <div *ngIf="item.Type==1; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
      <table>
        <tr id="table{{item.Id}}">
          <th>
            <h4 style="width: 65px;margin-top: 0px">Câu {{i+1}}</h4> <span><input [(ngModel)]="item.Answer.Score"  type="number" min="0" max="1"></span>
          </th>
        </tr>
        <tr>
          <td>
            <h4 [innerHtml]="item.Content" style="margin-top: 0px"> </h4>
          </td>
        </tr>
      </table>
      
      
        <textarea style="width:90%;height: 100px;">{{item.Answer.Content}}</textarea>
      </ng-template>
     

    </div>
    
  </div>
  <button (click)="Submit()">Hoàn thành </button>
</div>