






    <div class="wrapper">
        <div class="thongtin">
            <h2>Thông tin bài thi</h2>
            <ul class="ds-1">
                <li>Tên bài thi : <span>Thi SQL</span></li>
                <li>Chủ đề thi : <span>SQL</span></li>
                <li>Tổng số câu hỏi : <span>20</span></li>
                <li>
                   
                            <table class="ds-2">
                                    <tr>
                                        <td>Số câu trắc nghiệm : <span>15</span></td>
                                        <td>Tổng điểm : <span>5</span></td>
                                    </tr>
                                    <tr>
                                        <td>Số câu tự luận : <span>5</span></td>
                                        <td>Tổng điểm : <span>5</span></td>
                                    </tr>
                                </table>
                  
                    
                </li>
                <li>Thời gian làm bài:<span>30</span> phút</li>
                <li><button type="submit" class="apply"> Bắt đầu</button></li>
            </ul>
        </div>
        
    </div>
