<div class="content-wrapper" style="padding-top: 2%">

  <button (click)="clickToGoBack()" class="btn btn-danger" style="margin-left: 73.1%;margin-bottom: 5px;" type="submit">
    Go Back
  </button>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>
      <!-- ActionName Column -->
      <ng-container matColumnDef="ActionName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Action Name</th>
        <td *matCellDef="let element" mat-cell> {{element.ActionName}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="Description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.Description}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
        <td *matCellDef="let element" mat-cell><span data-placement="top" data-toggle="tooltip" title="Add"><button
          (click)="AddActionToRole(element.ActionId)" class="btn btn-default btn-sm" type="button">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </button></span></td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
