ul li{
    list-style: none;
    margin: 10px 0px;
}
h2{
    text-align: center;
}
.thongtin{

    width: 400px;
    height: 500px;		
    align-items: center;
    justify-content: center;
  
    margin:0 auto;
    border: 1px black solid;
}
.wrapper{
    display:flex;
    height: 100vh;
    text-align: center;
    background-color: white;
   
}
button.apply {
    margin-right: 50px;
    margin-top: 40px;
    width: 75px;
    height: 35px;
    border: none;
    background-color: #337ab7;
    color: #fffc;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
table.ds-2{
    margin-left: 50px;
}




@media (max-width:768px) {
    .box-test, .box-survey {
        margin-top: 15px;
    }
}
/*Begin css chi tiết cho từng khóa học*/

.detail-3box {
    border: 1px solid #d8d8d8;
    float: left;
    margin: 20px 0 0 14px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    width: 96.8%;
}

    .detail-3box > div {
        padding: 0px;
    }

    .detail-3box div.detail-3box-div2 {
        border-left: 1px solid #d8d8d8;
        float: left;
        min-height: 110px;
        width: 100%;
    }

    .detail-3box div.detail-3box-div1 {
        width: 100%;
    }



        .detail-3box div.detail-3box-div1 h2 {
            font-weight: bold;
            color: #363636;
            text-transform: uppercase;
            padding: 0px;
            line-height: 100px;
        }


    .detail-3box div h2 {
        font-size: 13px;
        color: #363636;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        color: #363636;
        font-weight: 500;
        line-height: 16px;
    }

  


.detail-3box div img {
    margin: 16px auto 15px auto;
    display: block;
    height: 26px;
}

.detail-3box-test {
    padding: 0;
    width: 64.6%;
}

@media (max-width:768px) {

    .detail-3box {
        width: 91.8%;
    }

        .detail-3box div.detail-3box-div2 {
            border-left: none;
        }

        .detail-3box div.detail-3box-div1 h2 {
            border-bottom: solid 1px #d8d8d8;
        }
}

/*End css chi tiết cho từng khóa học*/


/*Begin css cho 2 box người theo dõi và tin nhắn cá nhân */
.all-box-follow-and-message {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 20px;
}

    .all-box-follow-and-message .pull-left, .all-box-follow-and-message .pull-right {
        border: solid 1px #d8d8d8;
    }

        .all-box-follow-and-message .pull-left h2 {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            color: #363636;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-bottom: solid 1px #d8d8d8;
        }

            .all-box-follow-and-message .pull-left h2 i {
                color: #3dc2c5;
            }

        .all-box-follow-and-message .pull-right h2 {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            color: #363636;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: solid 1px #d8d8d8;
        }

            .all-box-follow-and-message .pull-right h2 i {
                color: #3dc2c5;
            }

    .all-box-follow-and-message ul li {
        list-style: none;
        border-bottom: solid 1px #d8d8d8;
        float: left;
        padding-bottom: 23px;
        padding-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

        .all-box-follow-and-message ul li:first-child {
            padding-top: 15px;
        }

        .all-box-follow-and-message ul li:last-child {
            border: none;
        }

        .all-box-follow-and-message ul li div:nth-child(1) {
            padding: 0px;
        }

            .all-box-follow-and-message ul li div:nth-child(1) .bor-img-follow {
                width: 64px;
                height: 64px;
                overflow: hidden;
            }

            .all-box-follow-and-message ul li div:nth-child(1) img {
                width: 64px;
            }

        .all-box-follow-and-message ul li div:nth-child(2) h2 {
            border-bottom: none;
            padding-bottom: 0;
            padding-top: 5px;
            margin-bottom: 2px;
        }


        .all-box-follow-and-message ul li div:nth-child(2) p {
            float: left;
            padding-left: 10px;
            width: 100%;
            margin-bottom: 2px;
        }

.box-follow ul li div:nth-child(2) p {
    padding-left: 15px;
}



.all-box-follow-and-message ul li div:nth-child(2) div {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-left: 8px;
}

    .all-box-follow-and-message ul li div:nth-child(2) div a {
        padding-left: 2px;
        color: #2192cd;
        text-align: justify;
    }

.box-follow ul li div:nth-child(2) div a {
    padding-left: 8px;
}

.all-box-follow-and-message ul li div:nth-child(3) {
    padding: 0px;
}

.all-box-follow-and-message ul li > div:nth-child(3) > a {
    padding: 0px;
    margin: 0px;
    float: right;
}

.all-box-follow-and-message ul li div:nth-child(3) a i {
    padding-right: 10px;
}

.all-box-follow-and-message div.view-all-follow {
    background-color: #e5e5e5;
    display: block;
    float: left;
    margin: 0px 15px 16px;
    padding: 5px 0;
    text-align: center;
    width: 91.5%;
}

    .all-box-follow-and-message div.view-all-follow > a {
        color: #8d8d8d;
    }

.all-box-follow-and-message .pull-right ul li div:nth-child(2) div {
    padding-left: 10px;
}

@media (max-width:768px) {
    .all-box-follow-and-message .pull-right {
        margin-top: 20px;
    }

    .all-box-follow-and-message {
        margin-left: 0px;
        margin-right: 0px;
    }
}
/*End css cho 2 box người theo dõi và tin nhắn cá nhân*/


/* End CSS cho box right*/
/*NTP CSS BEGIN*/
.box-survey .certificate {
    text-align: center;
}

    .box-survey .certificate > span {
        color: #009CDE;
        font-weight: 700;
        font-size: 75px;
    }

.box-common-title {
    width: 100%;
    float: left;
}

.box-content {
    border: 1px solid #c6c6c6;
    margin-top: 30px;
}

.common-title {
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}

    .common-title h2 {
        position: absolute;
        font-size: 13px;
        top: -12px;
        padding-right: 20px;
        background-color: #fff;
        color: #363636;
        font-weight: 700;
        text-transform: uppercase;
    }

        .common-title h2 i {
            margin-right: 10px;
        }

    .common-title .line {
        border-top: 1px solid #c6c6c6;
        display: block;
        width: 100%;
    }

.box-new-home {
    padding: 15px;
    margin-top: 0;
}

    .box-new-home a h2 {
        font-size: 14px;
        padding-left: 0px;
        padding-top: 15px;
    }

        .box-new-home a h2:hover {
            text-decoration: underline;
        }

    .box-new-home p {
        padding-left: 0px;
        padding-bottom: 0px;
    }

.table .progress {
    height: 12px;
    margin-bottom: 0px;
}

.box-body .table tr td {
    vertical-align: middle;
    font-weight: 500;
    border: none;
    padding: 15px 15px;
}

.badge.bg-green {
    background-color: #009CDE !important;
    font-weight: 700;
}
/*begin box exam profile*/


.list-exam {
    /*border: solid 1px #D4D4D3;*/
    background: #ffffff;
}

.exam-border .list-exam {
        border: solid 1px #D4D4D3;
    }

.exam-dashboard-status {
    float: left;
    margin-bottom: 20px;
}

.box-label-exam > div > a:nth-child(2) {
    margin-bottom: 15px;
    float: left;
    padding-top: 2px;
}

@media only screen and (min-width: 1024px) {
    .list-exam {
        width: 48%;
        /*border: solid 1px #D4D4D3;*/
        background: #ffffff;
    }

    .exam-dashboard-status {
        float: none;
        margin-bottom: 0px;
    }
    .box-label-exam > div > a:nth-child(2) {
    margin-bottom: 0px;
    float: none;
}
}


.event-icon {
    width: 6em;
    overflow: hidden;
    float: left;
    border: 1px solid #dfdfdf;
    margin: 10px;
}

    .event-icon h4 {
        font-size: 11px !important;
        background: #009CDE;
        color: #ffffff;
        padding: 5px 4px;
        text-align: center;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .event-icon .exam-calendar-date {
        font-size: 20px;
        margin-bottom: 10px;
    }

.list-exam .exam-title {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    min-height: 43px;
    height: auto;
    overflow: hidden;
    float: left;
}


.list-exam {
    margin-top: 15px;
}

    .list-exam:nth-child(2n) {
        float: right;
    }


.event-icon h4 span {
    
    position: absolute;
    bottom: -33px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 10px;
}

.box-content-exam {
    padding: 0px 15px 15px 15px;
    width: 100%;
    float: left;
}

.box-label-exam {
    margin-top: 15px;
}

    .box-label-exam .label {
        border: 1px solid #009CDE;
        color: #009CDE;
        font-weight: 500;
        padding: 2px 15px 2px 15px;
    }

    .box-label-exam a:hover {
        text-decoration: none;
    }

    .box-label-exam a .label:hover {
        background-color: #009CDE;
        color: #fff;
    }

.bor-img-new-home img {
    transition: .5s ease;
}

    .bor-img-new-home img:hover {
        opacity: 0.5;
        transform: scale(1.08);
    }

.exam-dashboard-status > span.label {
    color: #ffffff;
    background-color: #009CDE;
}

/*css tooltip bên ngoài box listexam*/
.tooltip{
    font-size: 12px;
    width: auto;
}