<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image"
             class="img-circle" src="https://yt3.ggpht.com/a/AGF-l79a8lyCbcfrCQIizSYUVGlD_oQQAedY7ycStQ=s900-mo-c-c0xffffffff-rj-k-no">
      </div>
      <div class="pull-left info">
        <p>{{ UserName }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text">
        <span class="input-group-btn">
                <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
<!--      <li class="header">Team 2</li>-->
      <li class="active treeview">

<!--        <i class="fa fa-dashboard"></i> <span>Question</span>-->
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>

      </li>
      <!-- <li class="treeview">
        <a href="http://localhost:4200/Categorys">
          <i class="fa fa-files-o"></i>
          <span>Categorys</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
          </span>
        </a>

      </li> -->
      <li >
        <a routerLink="question">
          <i class="fa fa-th"></i> <span>Questions</span>
        </a>
      </li>
      <li >
        <a routerLink="category">
          <i class="fa fa-th"></i> <span>Categories</span>
        </a>
      </li>
      <li >
        <a routerLink="tag">
          <i class="fa fa-th"></i> <span>Tags</span>
        </a>
      </li>
      <li >
        <a routerLink="exam">
          <i class="fa fa-th"></i> <span>Exams</span>
        </a>
      </li>
      <li >
        <a routerLink="test">
          <i class="fa fa-th"></i> <span>Tests</span>
        </a>
      </li>
      <li >
        <a routerLink="SemesterExamManager">
          <i class="fa fa-th"></i> <span>Semester</span></a>
      </li>
      <li>
        <a routerLink="Role">
          <i class="fa fa-th"></i> <span>Role</span>
        </a>
      </li>
      <li >
        <a routerLink="user">
          <i class="fa fa-th"></i> <span>User</span>
        </a>
      </li>
      <li >
        <a routerLink="group">
          <i class="fa fa-th"></i> <span>Group</span>
        </a>
      </li>



    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
