<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
  
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
      
  
          <div class="container-fluid "> 
           
          
<div class="header clearfix">
    <a class="btn btn-danger" href="" style="float: right;" routerLink="/test">Go Back</a>
  </div>
  <div class="content">
  <h1>Test</h1>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" >
  <div class="formTest ">
      <div class="col-md-6">
          <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Exam</label>
              <div class="col-sm-10">
                <select name="" id="" class="form-control form-control-sm" formControlName="ExamId">
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
            </div>
         
                  <div *ngIf="!exam.valid && exam.touched "  style="color: red">
                      <div *ngIf="exam.hasError('required')">
                        exam must be not null
                      </div>
                      
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Semaster</label>
                        <div class="col-sm-10">
                          <select name="" id="" class="form-control form-control-sm" formControlName="SemesterExam_ID">
                            <option value="1">1</option>
                            <option value="2">2</option>
                          </select>
                        </div>
                      </div>
                 
                      <div *ngIf="!Semaster.valid && Semaster.touched " style="color: red">
                          <div *ngIf="Semaster.hasError('required')">
                            Semaster must be not null
                          </div>
                          
                    
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" formControlName="TestName">
                              
                            </div>
                          </div>
                       
                          <div *ngIf="!name.valid && name.touched " style="color: red">
                              <div *ngIf="name.hasError('required')">
                                Test name must be not null
                              </div>
                              
                        
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Start date</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control form-control-sm" formControlName="StartDate">
                                  
                                </div>
                              </div>
                              <div class="form-group row">
                                  <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Test time</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control form-control-sm" formControlName="TestTime">
                                    
                                  </div>
                                </div>
                             
                              <div *ngIf="!TestTime.valid && TestTime.touched " style="color: red">
                                  <div *ngIf="TestTime.hasError('required')">
                                    Total test must be not null
                                  </div>
                                  
                            
                                </div>
                           
      </div>
      <div class="col-md-6">
          <div class="form-group row">
              <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">End date</label>
              <div class="col-sm-10">
                  <input type="date" class="form-control form-control-sm" formControlName="EndDate">
                
              </div>
            </div>
            
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Create by</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" formControlName="CreateBy">
                      
                    </div>
                  </div>
           
                  <div *ngIf="!CreateBy.valid && CreateBy.touched " style="color: red">
                      <div *ngIf="CreateBy.hasError('required')">
                        Create By must be not null
                      </div>
                      
                
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">PassScore</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" formControlName="PassScore">
                          
                        </div>
                      </div>
                    
                      <div *ngIf="!PassScore.valid && PassScore.touched " style="color: red">
                          <div *ngIf="PassScore.hasError('required')">
                            Pass Score must be not null
                          </div>
                          
                    
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Number time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" formControlName="NumberTime">
                              
                            </div>
                          </div>
                      
                        <div *ngIf="!TotalTest.valid && name.touched   " style="color: red">
                            <div *ngIf="TotalTest.hasError('required')">
                              Total test must be not null
                            </div>
                            
                      
                          </div>
                         
                            <div class="form-group row">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Status</label>
                                <div class="col-sm-10">
                                  <select name="" id="" class="form-control form-control-sm" formControlName="Status">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                  </select>
                                </div>
                              </div>
        
          <div *ngIf="!status.valid && status.touched " style="color: red">
              <div *ngIf="status.hasError('required')">
                Status must be not null
              </div>
              
        
            </div>
      </div>
      <button type="submit" mat-flat-button color="primary">Save</button>
      </div>
    </form>
  </div>
  
  
          
          </div>
          
        
   
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
  
    </section>
    <!-- /.content -->
  </div>
  
  
  
  
  