<div class="content-wrapper">
  <section class="content">
    <div class="container col-md-12" style="padding: 0;">
      <div class="container col-md-12">
        <div class="container col-md-4" style="padding: 2% 0 2% 0">
          <input [(ngModel)]="searchString" type="text" placeholder="Search by Full Name..">
          <button (click)="onSearch()" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="container col-md-4">
          <h2 style="text-align: center">Detail Group</h2>
        </div>
        <div class="container col-md-4" style="padding: 2% 0 2% 0">
          <button style="float: right" mat-raised-button color="warn"[routerLink]="['/group']">Go back</button>
        </div>
        <hr />
      </div>
      <div class="col-md-12">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-description>
                Click to open Filter
              </mat-panel-description>
            </mat-expansion-panel-header>

            <form novalidate (ngSubmit)="onFilter()" [formGroup]="filterForm">
              <div class="col-md-12">
                <!-- <mat-form-field class="col-md-2">
                <input matInput [matDatepicker]="picker" placeholder="Choose start date" formControlName="StartDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="col-md-2">
                <input matInput [matDatepicker]="picker2" placeholder="Choose end date" formControlName="EndDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field> -->

                <mat-form-field class="col-md-5">
                  <mat-label>Position</mat-label>
                  <mat-select formControlName="Position">
                      <mat-option>None</mat-option>
                    <mat-option *ngFor="let group of PositionApi" [value]="group.Position">
                      {{group.Position}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-5">
                  <mat-label>Department</mat-label>
                  <mat-select formControlName="Department">
                      <mat-option>None</mat-option>
                    <mat-option *ngFor="let group of DepartmentApi" [value]="group.Department">
                      {{group.Department}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <button type="submit" mat-raised-button style="color: white;background-color: #3f51b5;" class="col-md-1">Filter</button>
              </div>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="col-md-12" *ngIf="groups; else noGroup" style="padding-top: 2%">
      <table class="table">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Creator</th>
            <th>Description</th>
            <th>Created Date</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngIf="groups; else noGroup">
            <td>{{groups.GroupName}}</td>
            <td>{{groups.Creator}}</td>
            <td>{{groups.Description}}</td>
            <td>{{groups.CreatedDate | date}}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noGroup>
        <p>Nothing to show</p>
      </ng-template>
    </div>
    <!-- ========================================================================= -->
    <div class="container col-md-12" style="text-align: center; margin-top: 0%;">
      <h2>List User In Group</h2>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="UserId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UserId </th>
          <td mat-cell *matCellDef="let element"> {{element.UserId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
          <td mat-cell *matCellDef="let element"> {{element.UserName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="FullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="Department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
          <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
        </ng-container>

        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
    <!-- ============================================================================= -->
  </section>
</div>