<div class="content-wrapper">
  
  <section class="content">
    <div>
      <div class="container col-md-12">
        <span data-placement="top" data-toggle="tooltip"><button class="btn btn-primary" style="float: right;"
            data-title="Create" data-toggle="modal" data-target="#create"
            id="Create"><span>Create</span></button></span>
      </div>
      <div class="container col-md-12" style="text-align: center; margin-top: 0%;">
        <h2>List Role</h2>
      </div>
      <div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          <!-- RoleName Column -->
          <ng-container matColumnDef="RoleName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </th>
            <td mat-cell *matCellDef="let element"> {{element.RoleName}} </td>
          </ng-container>
          <!-- Description Column -->
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
          </ng-container>

          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">

              <span data-placement="top" data-toggle="tooltip" title="Update">
                <button [routerLink]="['/Role/',element.RoleId]" class="btn btn-primary btn-xs"><span
                    class="glyphicon glyphicon-pencil"></span></button>
              </span>
              <span data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"
                  (click)="DeleteRole(element.RoleId)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button></span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                  class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h3 class="modal-title custom_align" id="Heading" style="margin-left: 35%">Create Role</h3>
            </div>
            <!-- Begin create form -->
            <form novalidate (ngSubmit)="onSubmit()" [formGroup]="createForm" class="row justify-content-md-center">
              <div>
                <div class="form-group row" style="margin: 3% 4% 0 4%">
                  <label for="example-text-input" class="col-md-2 col-form-label">
                    RoleName*
                  </label>
                  <div class="col-md-12" style="margin-bottom: 1%">
                    <input class="form-control" type="text" id="example-text-input" formControlName="RoleName">
                  </div>
                  <div *ngIf="!RoleName.valid && RoleName.touched " class="form-group" style="color:red;" role="alert">
                    <div *ngIf="RoleName.hasError('required')">
                      Role Name is required
                    </div>
                    <div *ngIf="RoleName.hasError('minlength')">
                      Role Name is required length 5-50 characters
                    </div>
                    <div *ngIf="RoleName.hasError('maxlength')">
                      Role Name must be less then 50 characters
                    </div>
                  </div>

                </div>
                <div class="form-group row" style="margin: 3% 4% 0 4%">
                  <label for="example-text-input" class="col-md-2 col-form-label">
                    Description
                  </label>
                  <div class="col-md-12" style="margin-bottom: 1%">
                    <input class="form-control" type="text" id="example-text-input" formControlName="Description">
                  </div>
                </div>
                <div class="form-group row" style="margin: 3% 4% 4% 4%; float: right;">
                  <div class="col-10 offset-2">
                    <button class="btn btn-primary" type="submit" (click)="validateForm()">Create</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>