<div class="content-wrapper" style="padding-top: 2%">
  <div class="btn" style="margin-left: 61.2%">
    <button (click)="clickToAddAction()" class="btn btn-primary" type="submit">Add
      action
    </button>
    <button (click)="clickToGoBack()" class="btn btn-danger" style="margin-left: 15%" type="submit">Go Back</button>

  </div>
  <div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>
      <!-- UserName Column -->
      <ng-container matColumnDef="ActionName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Action Name</th>
        <td *matCellDef="let element" mat-cell> {{element.ActionName}} </td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="Description">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.Description}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Action</th>
        <td *matCellDef="let element" mat-cell><span data-placement="top" data-toggle="tooltip" title="Delete"><button
          (click)="DeleteRoleAction(element.ActionId)" class="btn btn-danger btn-xs" data-target="#delete"
          data-title="Delete" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></button></span>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
