<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
  <title></title>
</head>

<body>


<div class="col-md-12" style="margin-left: 18%">
  <h2 style="color: black;margin-left:30%">Danh Sách Đề Thi</h2>
  <br>
  <br>
  <div class="col-md-2">
    <ul class="nav .flex-column nav-tabs col-md-12">

      <li class="nav-item col-md-12 bg bg-info">
        <a [routerLink]="['/SemesterExamManager/detail',Id]" class="nav-link" href="#"> <span
          style="color: black">Thông tin kì thi</span></a>
      </li>
      <li class="nav-item col-md-12 bg bg-info">
        <a [routerLink]="['/SemesterExamManager/exams',Id] " class=" nav-link" href="#">Danh sách đề thi</a>
      </li>
      <li class="nav-item col-md-12 bg bg-info">
        <a class="nav-link" href="#">Danh sách bài thi</a>
      </li>
      <li class="nav-item col-md-12 bg bg-info">
        <a [routerLink]="['/SemesterExamManager/Report',Id]" class="nav-link disabled" href="#">Báo cáo </a>
      </li>
      <li class="nav-item col-md-12 bg bg-info">
        <a [routerLink]="['/SemesterExamManager/Thisinh',Id]" class="nav-link disabled" href="#">Danh Sách
          thí sinh </a>
      </li>


    </ul>
  </div>
  <div class="col-md-6">
    <div class="container col-md-12">
      <div style="padding: 10px;">
        <input (keyup.enter)="onSearch()" [(ngModel)]="searchString" name="search" placeholder="Search.."
               style="color :black" type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
        <!-- <div class="container col-md-12">
          <span data-placement="top" data-toggle="tooltip">
             <button class="btn btn-primary" data-title="Create" data-toggle="modal" data-target="#create"
              style="margin-left: 74%;margin-bottom: 5px;width: 90px;" id="Create" (click)=AddExam()>
              <span>Add</span>
            </button>

            <button style="float: right;width: 90px;" type="button" class="btn btn-danger">Delete</button>
          </span>

        </div>  -->
        <hr/>
      </div>

    </div>

    <div class="container col-md-12" style="text-align: center">

      <h2 style="margin-left:200px"> Danh sách đề thi
      </h2>

    </div>
    <div style="margin-top: 2%">
      <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort style="width: 100%;margin: 15px 0px;">

        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container class="tr" matColumnDef="Id">
          <th *matHeaderCellDef class="th" mat-header-cell> ID</th>
          <td *matCellDef="let element" mat-cell> {{element.Id}} </td>
        </ng-container>


        <ng-container class="tr" matColumnDef="NameExam">
          <th *matHeaderCellDef class="th" mat-header-cell> Tên đề thi</th>
          <td *matCellDef="let element" mat-cell> {{element.NameExam}} </td>
        </ng-container>


        <ng-container class="tr" matColumnDef="CreateBy">
          <th *matHeaderCellDef class="th" mat-header-cell>Người tạo</th>
          <td *matCellDef="let element" mat-cell> {{element.CreatedBy}} </td>
        </ng-container>


        <ng-container class="tr" matColumnDef="QuestionNumber">
          <th *matHeaderCellDef mat-header-cell> Số câu hỏi</th>
          <td *matCellDef="let element" mat-cell> {{element.QuestionNumber}} </td>
        </ng-container>

        <ng-container class="tr" matColumnDef="Status">
          <th *matHeaderCellDef mat-header-cell> Trạng thái</th>
          <td *matCellDef="let element" mat-cell> {{element.Status}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Status" class="tr">
         <th mat-header-cell *matHeaderCellDef> Status</th>
         <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
       </ng-container> -->

        <!-- <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button><i class="fas fa-clone"></i></button>
            <button><i class="fas fa-info-circle"></i></button>
            <button><i class="fas fa-trash-alt"></i></button>
          </td>
        </ng-container> -->
        <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[2,5]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- <div class="col-md-4">
            <input type="date" name="date" placeholder="StartDay">
        </div>
        <div class="col-md-4">
            <input type="date" name="date" placeholder="EndDay">
        </div> -->
  </div>

</div>


</body>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="create" class="modal fade" id="create" role="dialog" tabindex="-1">
  <div class="modal-dialog" style="width: 70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <input name="search" placeholder="Search.." type="text">
        <button type="submit"><i class="fa fa-search"></i></button>
        <!-- <button class="btn btn-primary" data-title="Create" data-toggle="modal" data-target="#create"
              style="margin-left: 74%;margin-bottom: 5px;width: 90px;" id="Create" (click)=add()> add</button> -->
        <h3 class="modal-title custom_align" id="Heading" style="text-align:center">Add Candidates</h3>


        <table [dataSource]="dataSource2" class="mat-elevation-z8" mat-table matSort
               style="width: 100%;margin: 15px 0px;">

          <span>Add</span>
          <ng-container matColumnDef="select">
            <th *matHeaderCellDef mat-header-cell>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [aria-label]="checkboxLabel()"
                            [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                            (click)="get(row)" [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container class="tr" matColumnDef="Id">
            <th *matHeaderCellDef class="th" mat-header-cell> ID</th>
            <td *matCellDef="let element" mat-cell> {{element.Id}} </td>
          </ng-container>


          <ng-container class="tr" matColumnDef="NameExam">
            <th *matHeaderCellDef class="th" mat-header-cell> Tên đề thi</th>
            <td *matCellDef="let element" mat-cell> {{element.NameExam}} </td>
          </ng-container>


          <ng-container class="tr" matColumnDef="CreateBy">
            <th *matHeaderCellDef class="th" mat-header-cell>Ngày tạo</th>
            <td *matCellDef="let element" mat-cell> {{element.CreatedBy}} </td>
          </ng-container>


          <ng-container class="tr" matColumnDef="QuestionNumber">
            <th *matHeaderCellDef mat-header-cell> Số câu hỏi</th>
            <td *matCellDef="let element" mat-cell> {{element.QuestionNumber}} </td>
          </ng-container>

          <ng-container class="tr" matColumnDef="Status">
            <th *matHeaderCellDef mat-header-cell> Trạng thái</th>
            <td *matCellDef="let element" mat-cell> {{element.Status}} </td>
          </ng-container>

          <!-- <ng-container matColumnDef="Status" class="tr">
           <th mat-header-cell *matHeaderCellDef> Status</th>
           <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
         </ng-container> -->

          <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button><i class="fas fa-clone"></i></button>
              <button><i class="fas fa-info-circle"></i></button>
              <button><i class="fas fa-trash-alt"></i></button>
            </td>
          </ng-container> -->
          <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
          <mat-paginator [pageSizeOptions]="[5,5]" showFirstLastButtons></mat-paginator>
        </table>


      </div>
    </div>
  </div>
