.header-right{

    text-align: right;
}
.header-right a{

    margin-left: 50px;
}
.icon p{
    font-weight: bold;
    font-size: 20px;
}
.filter{


}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
}
.title-right a{
text-align: right
}
.title-right{
    float: right !important;
}
.action a{
margin-left: 10px;
}

table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
 

img{
  width: 100px;
}

td p figure img{

  width: 100px;

}
:host ::ng-deep img {
  max-width: 100px;
}
