<div style="height: 95vh;  overflow-y: scroll;  overflow-x: hidden;">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">


    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->

      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->

        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->


        <div class="container-fluid ">
          <div class="clearfix">
            <div class="col-md-5">
              <input placeholder="Search content" type="text">
              <button type="submit"><i class="fa fa-search"></i></button>

            </div>
            <div class="col-md-7 header-right">
              <button [routerLink]="['/exam']" class="btn btn-danger">Go Back</button>
            </div>
          </div>
          <br>

          <div class="filter clearfix">
            <div class="col-md-12">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    This is the expansion title
                  </mat-panel-title>
                  <mat-panel-description>
                    This is a summary of the content
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p>This is the primary content of the panel.</p>

              </mat-expansion-panel>
            </div>
          </div>
          <button [routerLink]="['/exam/', examID]" class="btn btn-info" data-dismiss="modal"
                  style="margin-left: 1.5%;margin-top:15px">Update
            Question to Exam
          </button>


          <div class="title">

            <div class="col-md-3">

            </div>
            <div class="col-md-6">
              <h1 style="text-align: center">List Question in exam </h1>
            </div>
            <div class="col-md-3 title-right">
              <button (click)="DeleteMutiple()" class="btn btn-danger">Delete</button>
            </div>
          </div>
          <table [dataSource]="dataSource" class="table table-hover" mat-table matSort>
            <ng-container matColumnDef="select">
              <th *matHeaderCellDef mat-header-cell>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [aria-label]="checkboxLabel()"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td *matCellDef="let row" mat-cell>
                <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                              (click)="$event.stopPropagation()"
                              [aria-label]="checkboxLabel(row)"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- Checkbox Column -->

            <ng-container matColumnDef="QuesId">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> QuesId</th>
              <td *matCellDef="let element" mat-cell> {{element.QuesId}} </td>
            </ng-container>

            <ng-container matColumnDef="Category">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Category Name</th>
              <td *matCellDef="let element" mat-cell> {{element.CategoryName}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="CreatedBy">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> CreateBy</th>
              <td *matCellDef="let element" mat-cell> {{element.CreatedBy}} </td>
            </ng-container>
            <ng-container matColumnDef="nameExam">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> nameExam</th>
              <td *matCellDef="let element" mat-cell> {{element.nameExam}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="CreatedDate">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> CreatedDate</th>
              <td *matCellDef="let element" mat-cell> {{element.CreatedDate | date}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Level">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Level</th>
              <td *matCellDef="let element" mat-cell>{{(element.Level == 1) ? "Easy" : "medium"}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Type">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
              <td *matCellDef="let element" mat-cell> {{element.Type}} </td>
            </ng-container>
            <ng-container matColumnDef="Content">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> content</th>
              <td *matCellDef="let element" mat-cell>
                <p [innerHtml]="element.Content" class="content-question" style="width: 100px;"></p>
              </td>
            </ng-container>
            <ng-container matColumnDef="Space">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Space Exam</th>
              <td *matCellDef="let element" mat-cell> {{element.Space}} </td>
            </ng-container>


            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (click)="selection.toggle(row)" *matRowDef="let row; columns: displayedColumns;"
                mat-row>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>


        </div>


        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
</div>





