<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
    

        <div class="container-fluid "> 
          <div class="clearfix">
          <div class="col-md-5">
              <input  type="text" placeholder="Search content">
              <button  type="submit"><i class="fa fa-search"></i></button>
          
        </div>
        <div class="col-md-7 header-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Random</button>
        <button class="btn btn-primary" >Apply</button>
        <a class="btn btn-danger">Go Back</a>
        </div>
        </div>
        <br>
        <div class="icon clearfix">
          <div class="col-md-6">
            <p>Filter</p>
          </div>
          <div style="text-align: right" class="col-md-6">
            <p  class="glyphicon glyphicon-triangle-bottom"></p>
            </div>
        </div>
        <div class="filter clearfix" >
          <!-- <form novalidate (ngSubmit)="onFilter()" [formGroup]="filterForm">
            <div class="col-md-12">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
        
                    <mat-panel-description>
                      Cick Choice Type Filter
                    </mat-panel-description>
                  </mat-expansion-panel-header>
        
                  <mat-form-field class="col-md-4">
                      <mat-label>---filter level---</mat-label> 
                    <mat-select formControlName="Level">
                                

                      <mat-option *ngFor="let level of listfilter.ListLevel" value="{{ level }}">
                        {{(level==1) ?"Easy":"medium"}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
        
                  <mat-form-field class="col-md-4">
                      <mat-label>---filter type---</mat-label>   
                      <mat-select formControlName="Type" >
                                  
                        <mat-option *ngFor="let type of listfilter.ListType" value={{type}}> {{(type==1)? "Essay":"mutiple choice"}}</mat-option>
                        
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-4">
                        <mat-label>---Create By---</mat-label> 
                        <mat-select formControlName="CreatedBy">
                                      
                            <mat-option *ngFor="let CreatedBy of listfilter.ListCreateBy" value="{{ CreatedBy }}">
                            {{ CreatedBy }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                     
                    
                    
                          <div class="col-md-2">
                            <button class="btn btn-primary">filter</button>
                          </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </form>
         -->
        
        
        </div>
        <button [routerLink]="['/exam/', examID]"  class="btn btn-info" data-dismiss="modal">Update
          Question to Exam</button>
          <button [routerLink]="['/exam/examquestion', examID]" class="btn btn-primary" data-dismiss="modal">Detail Question in Exam
            </button>
           


            
           
                <div class="title">
            
                    <div class="col-md-3">
                   
                    </div>
                    <div class="col-md-6">
                    <h1 style="text-align: center">List Question in exam </h1>
                      </div>
                      <div class="col-md-3 title-right">
                    <button (click)="DeleteMutiple()"  class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                <table mat-table [dataSource]="dataSource" class="table table-hover" matSort >
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                    <!-- Checkbox Column -->
                  
                    <ng-container matColumnDef="QuesId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> QuesId </th>
                      <td mat-cell *matCellDef="let element"> {{element.QuesId}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="Category">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
                    </ng-container>
                    <!-- Position Column -->
                    <ng-container matColumnDef="CreatedBy">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> CreateBy </th>
                      <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nameExam">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> nameExam </th>
                      <td mat-cell *matCellDef="let element"> {{element.nameExam}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="CreatedDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedDate </th>
                      <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="Level">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
                      <td mat-cell *matCellDef="let element">{{(element.Level==1) ?"Easy":"medium"}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef > Action </th>
                      <td mat-cell *matCellDef="let element">
                        <span data-placement="top" data-toggle="tooltip" title="Delete">
                          <button  (click)="deleteQuestion(element.QuesId)"  class="btn btn-danger btn-xs"data-title="Delete" data-toggle="modal" data-target="#delete">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </span>
                        <span data-placement="top" data-toggle="tooltip" title="Detail">
                            <button  class="btn btn-success btn-xs"
                            data-title="Detail" data-toggle="modal" data-target="#detail"><span
                            class="glyphicon glyphicon-list-alt"></span></button>
                          </span>
                          <span data-placement="top"  data-toggle="tooltip" title="add">
                            <button    class="btn btn-primary btn-xs"
                                 ><span
                            class="glyphicon glyphicon-plus-sign"></span></button>
                          </span>
                      </td>
                     
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Content">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header > content </th>
                      <td mat-cell *matCellDef="let element"> {{element.Content}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Space">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Space Exam </th>
                      <td mat-cell *matCellDef="let element"> {{element.Space}} </td>
                    </ng-container>
                    
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
            
            
        
        
        </div>
        
      
 
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>






