.header a{
    
    float: right;
}
.header {
    text-align: center;
   
}

.clearfix:after{
    clear: both;
    content: "";
    display: block;
}
.content{
    text-align: center
}
label.col-md-2.control-label {
    margin-left: -48px;
    /* margin-right: -29px; */
}