<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Update User</li>
    </ol>

  </section>
  <section class="content">
    <div class="row">
      <div class="container-fluid ">
        <div class="header clearfix">
          <h3>Update User</h3> <a class="btn btn-danger" routerLink="/user">Go Back</a>

        </div>
        <div class="content">

          <form (ngSubmit)="onSubmit()" [formGroup]="editform" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <!-- UserName -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">UserName*</label>
                    <div class="col-sm-10">
                      <label class="form-control form-control-sm" formControlName="UserName">{{UserName.value}}</label>
                    </div>
                    <div *ngIf="!UserName.valid && UserName.touched " class="form-group" role="alert"
                         style="color:red;">
                      <div *ngIf="UserName.hasError('required')">
                        UserName is required
                      </div>
                      <div *ngIf="UserName.hasError('minlength')">
                        User Name is required length 5-25 characters
                      </div>
                      <div *ngIf="UserName.hasError('maxlength')">
                        User Name must be less than 25 charaters
                      </div>
                    </div>
                  </div>

                  <!-- password -->

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Password*</label>
                    <div class="col-sm-10">
                      <input [pattern]="passwordPattern" class="form-control form-control-sm" formControlName="Password"
                             placeholder="Password" type="password">
                    </div>
                    <div *ngIf="!Password.valid && Password.touched " style="color: red">
                      <div *ngIf="Password.hasError('required')">
                        Password is required
                      </div>
                      <div *ngIf="Password.hasError('minlength')">
                        Password is required length 5-100 characters
                      </div>
                      <div *ngIf="Password.hasError('maxlength')">
                        Password must be less than 100 characters
                      </div>
                      <div *ngIf="Password.hasError('pattern')">
                        Password cannot contain spaces
                      </div>
                    </div>
                  </div>
                  <!-- Role -->
                  <div class="form-group row">
                    <label class="col-sm-2 control-label" for="inputPassword3">Role*</label>
                    <div class="col-sm-10">
                      <select aria-hidden="true" class="form-control select2 select2-hidden-accessible"
                              formControlName="RoleId" style="width: 100%;" tabindex="-1">
                        <option *ngFor="let item of RolesFormApi" value={{item.RoleId}}>{{item.RoleName}}
                      </select>
                    </div>
                  </div>
                  <!-- FullName -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">FullName*</label>
                    <div class="col-sm-10">
                      <input class="form-control form-control-sm" formControlName="FullName" placeholder="FullName"
                             type="text">
                    </div>
                    <div *ngIf="!FullName.valid && FullName.touched " style="color: red">
                      <div *ngIf="FullName.hasError('required')">
                        Full Name is required
                      </div>
                      <div *ngIf="FullName.hasError('minlength')">
                        Full Name is required length 5-50 characters
                      </div>
                      <div *ngIf="FullName.hasError('maxlength')">
                        Full Name must be less than 50 characters
                      </div>
                    </div>
                  </div>

                  <!-- Phone -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Phone*</label>

                    <div class="col-sm-10">
                      <input [pattern]="phonenumber" class="form-control form-control-sm" formControlName="Phone"
                             placeholder="Phone number" type="text">
                    </div>
                    <div *ngIf="!Phone.valid && Phone.touched " style="color: red">
                      <div *ngIf="Phone.hasError('required')">
                        Phone is required
                      </div>
                      <div *ngIf="Phone.hasError('pattern')">
                        Phone is not correct phone format
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- Email -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Email*</label>
                    <div class="col-md-10">
                      <input [pattern]="emailPattern" class="form-control" formControlName="Email" id="example-email-input"
                             name="email" placeholder="Email" type="email">
                    </div>
                    <div *ngIf="!Email.valid && Email.touched" style="color: red">
                      <div *ngIf="Email?.errors && Email.errors['required']">
                        Email is required
                      </div>
                      <div *ngIf="Email?.errors && Email.errors.pattern">
                        Email is not correct email format
                      </div>
                    </div>
                  </div>
                  <!-- Address -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Address*</label>
                    <div class="col-sm-10">
                      <input class="form-control form-control-sm" formControlName="Address" placeholder="Address"
                             type="text">
                    </div>
                    <div *ngIf="!Address.valid && Address.touched " style="color: red">
                      <div *ngIf="Address.hasError('required')">
                        Address is required
                      </div>
                    </div>
                  </div>
                  <!-- Department -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Department*</label>
                    <div class="col-sm-10">
                      <input class="form-control form-control-sm" formControlName="Department" placeholder="Department"
                             type="text">
                    </div>
                    <div *ngIf="!Department.valid && Department.touched " style="color: red">
                      <div *ngIf="Department.hasError('required')">
                        Department is required
                      </div>
                      <div *ngIf="Department.hasError('minlength')">
                        Department is required length 2-30 characters
                      </div>
                      <div *ngIf="Department.hasError('maxlength')">
                        Department must be less than 30 characters
                      </div>
                    </div>
                  </div>

                  <!-- Position -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Position*</label>
                    <div class="col-sm-10">
                      <input class="form-control form-control-sm" formControlName="Position" placeholder="Position"
                             type="text">
                    </div>
                    <div *ngIf="!Position.valid && Position.touched " style="color: red">
                      <div *ngIf="Position.hasError('required')">
                        Position is required
                      </div>
                      <div *ngIf="Position.hasError('minlength')">
                        Position is required length 2-30 characters
                      </div>
                      <div *ngIf="Position.hasError('maxlength')">
                        Position must be less than 30 characters
                      </div>
                    </div>
                  </div>
                  <!-- Avatar -->
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label col-form-label-sm" for="colFormLabelSm">Avatar</label>
                    <td>
                      <div class="input-group" style="width: 267px;height: 40px;">
                        <div class="custom-file col-sm-1">
                          <input aria-describedby="inputGroupFileAddon01" class="custom-file-input" formControlName="Avatar"
                                 id="inputGroupFile01" type="file">
                        </div>
                      </div>
                    </td>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 control-label" for="inputPassword3">Status*</label>
                    <div class="col-sm-10">
                      <select aria-hidden="true" class="form-control select2 select2-hidden-accessible"
                              formControlName="Status" style="width: 100%;" tabindex="-1">
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <label class="col-md-2 control-label" for="iNote">Note</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="col-md-12">
                    <ckeditor [editor]="Editor" formControlName="Note" id="classic-editor" name="classic-editor">
                    </ckeditor>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group row" style="margin-top: 3%">
              <div class="col-10 offset-2">
                <button (click)="validateForm()" class="btn btn-primary" type="submit">Update</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </section>

</div>
