.header {
    display: inline-block;
}
.content {
    display: inline-block;
}
.magin-right {
    margin-right: 10%;
}
.magin-right1 {
    margin-right: 3%;
}
.magin-top {
    margin-top: 2%;
}
.fix {
    width: 34.63px;
}
.magin-bottom {
    margin-bottom: 2%;
}
.magin-left {
    margin-left: 45%;
}