<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<div class="col-md-12 magin-bottom">
    <div class="col-md-4 header">
      <span>Tổng số câu hỏi:{{testProcessings.TestName}}</span>
    </div>
    <!-- <div class="col-md-4 header">
      -----------------------------------------------
    </div> -->
    <div class="col-md-4 header">
      <span class="magin-right magin-left">{{ remainingTime }}</span>
      <i class='far fa-clock magin-right' style='font-size:30px'></i>
      <button type="button" class="btn btn-primary" (click)="summit()" >Submit</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 header">
        <div>
          <button type="button" class="btn btn-success"></button>
          <span>Câu hỏi đã trả lời</span>
        </div>
        <div>
          <button type="button" class="btn btn-warning"></button>
          <span>Câu hỏi đang cân nhắc</span>
        </div>
        <div>
          <button type="button" class="btn btn-secondary"></button>
          <span>Câu hỏi chưa trả lời</span>
        </div>
          <div class="col-md-12" *ngIf="this.reload == true">
              <div class="col-md-1"  *ngFor= "let item of testProcessings.Questions ; let i = index">
                  <button class="btn btn-success " *ngIf="containsObject(item,this.array2)">{{i+1}}</button>
                  <button class="btn btn-secondary " *ngIf="!containsObject(item,this.array2)">{{i+1}}</button>
              </div>
          </div>
      </div>

      <div class="col-md-8 content">
        <div class="border border-secondary" style="min-height: 450px">
          <div class="col-md-12">
              <h1>câu hỏi {{this.i+1}} :</h1>   <h1 [innerHTML]="this.questionContent"></h1>
          </div>
         <div class="col-md-12">
            <mat-checkbox [checked]="checkItem1" (click)="check1()" >
              <p [innerHTML]="this.answerContent1" class="answer"></p>
            </mat-checkbox>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]="checkItem2" (click)="check2()">
              <p [innerHTML]="this.answerContent2" class="answer">
            </mat-checkbox>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]= "checkItem3" (click)="check3()">
              <p [innerHTML]="this.answerContent3" class="answer">
            </mat-checkbox>
         </div>
         <div class="col-md-12">
            <mat-checkbox [checked]="checkItem4" (click)="check4()">
              <p [innerHTML]="this.answerContent4" class="answer">
            </mat-checkbox>
         </div>

        </div>
        <div class="magin-top">
          <button type="button" class="btn btn-primary" (click)="Prev()">Prev</button>
          <button style="float: right" type="button" class="btn btn-primary" (click)="Next()">Next</button>
        </div>
      </div>
    </div>




  

<!-- <div class="group-actions">
  <button (click)="start()">Start</button>
  <button (click)="stop()">Stop</button>
  <button (click)="reset()">Reset</button>
</div> -->
<!-- <div class="timer">
  <span class="timer-text">{{ remainingTime }}</span>
</div>
<p>{{ message }}</p> -->

  </div>
