<div class="container col-md-12" style="text-align: center">
  <h3>Thông tin chi tiết kỳ thi</h3>
  <span>Tên kỳ thi:</span>
</div>
<div class="col-md-12" style="margin-top: 10%">
  <span>Danh sách các bài thi</span>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort>

    <ng-container matColumnDef="ID">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
      <td *matCellDef="let element" mat-cell> {{element.ID}} </td>
    </ng-container>

    <ng-container matColumnDef="SemesterName">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> SemesterName</th>
      <td *matCellDef="let element" mat-cell> {{element.SemesterName}} </td>
    </ng-container>

    <ng-container matColumnDef="StartDay">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> StartDay</th>
      <td *matCellDef="let element" mat-cell> {{element.StartDay}} </td>
    </ng-container>

    <ng-container matColumnDef="EndDay">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> EndDay</th>
      <td *matCellDef="let element" mat-cell> {{element.EndDay}} </td>
    </ng-container>

    <ng-container matColumnDef="Code">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Tác vụ</th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="ViewTest(element.ID)" [routerLink]="['/thi/',element.ID]"><i class="fa fa-arrow-right"></i>
        </button>
      </td>
    </ng-container>

    <ng-container hidden matColumnDef="status">
      <th *matHeaderCellDef hidden mat-header-cell mat-sort-header> Status</th>
      <td *matCellDef="let element" hidden mat-cell> {{element.status}} </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[1,2]" showFirstLastButtons></mat-paginator>
</div>
