<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet">
<h2 style="margin-left: 54%;margin-top: 80px;font-size: 42px">THÔNG TIN KÌ THI</h2>
<br><br>
<div class="row col-md-12" style="margin-left: 18%">
  <!-- <div class="col-md-3"></div> -->
  <div class="container" style="width: 80%">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse"><span
                  class="glyphicon glyphicon-folder-close">
                                    </span>Danh sách bài thi</a>
              </h4>
            </div>

          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a [routerLink]="['/SemesterExamManager/detail','ListThiSinh']" data-parent="#accordion"
                   data-toggle="collapse"><span
                  class="glyphicon glyphicon-th">
                                    </span>Danh sách đề thi</a>
              </h4>
            </div>

          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#collapseThree"><span
                  class="glyphicon glyphicon-user">
                                    </span>Báo cáo</a>
              </h4>
            </div>

          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-parent="#accordion" data-toggle="collapse" href="#collapseFour"><span
                  class="glyphicon glyphicon-file">
                                    </span>Danh Sách thí sinh</a>
              </h4>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-7" style="border: black 1px">

        <form (ngSubmit)="navigateToEdit()" [formGroup]="formApply" class="form-group">


          <table>

            <tr>
              <td><label>Tên kì thi</label></td>

              <td>
                <mat-form-field class="example-full-width">
                  <input formControlName="SemesterName" matInput>
                </mat-form-field>
                <div *ngIf="!SemesterName.valid && SemesterName.touched" style="color: red">
                  <div *ngIf="SemesterName.hasError('required')">
                    Name required
                  </div>
                  <div *ngIf="SemesterName.hasError('minlength')">
                    Minlength {{SemesterName.getError('minlength').requiredLength}}
                  </div>
                </div>


              </td>


            </tr>
            <!-- <tr>
                <td><label>Người tạo</label></td>
                <td>{{list.Creator}}</td>
            </tr> -->
            <tr>
              <td><label>Trạng thái</label></td>
              <td>


                <mat-form-field>

                  <select formControlName="status" matNativeControl required>
                    <option value="Public">Public</option>
                    <option value="Done">Done</option>
                    <option value="Draft">Draft</option>

                  </select>
                </mat-form-field>
              </td>

            </tr>
            <tr>
              <td><label>Thời gian thi</label></td>
              <td>
                <mat-form-field>
                  <input [(ngModel)]="dateTime" [owlDateTime]="dt2" formControlName="StartDay"
                         matInput placeholder="{{list.StartDay}}">

                </mat-form-field>

                <!-- <div class="magin">

                    <input type="date" name="date" formControlName="StartDay">
                </div> -->


              </td>
              <td>
                                <span [owlDateTimeTrigger]="dt2" class="example-trigger">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                <owl-date-time #dt2></owl-date-time>
              </td>
            </tr>
            <tr>
              <td><label>Thời gian kết thúc</label></td>
              <td>
                <mat-form-field (blur)="compareTwoDates()">
                  <input (blur)="compareTwoDates()" [(ngModel)]="dateTime1" [owlDateTime]="dt3"
                         formControlName="EndDay" matInput placeholder="{{list.EndDay}}">
                </mat-form-field>
                <!--
                <div class="magin">

                    <input type="date" name="date" formControlName="EndDay" (blur)="compareTwoDates()">
                </div>
                <div style=" color: red" *ngIf="error.isError">
                    {{ error.errorMessage }}
                </div> -->

                <div *ngIf="error.isError" style=" color: red">
                  {{ error.errorMessage }}
                </div>
              </td>
              <td>
                                <span [owlDateTimeTrigger]="dt3" class="example-trigger">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                <owl-date-time #dt3></owl-date-time>
              </td>


            <tr>
              <td><label>Số người tham gia :</label></td>
              <td><label>{{list.NumberInvite}}</label></td>
            </tr>

            <tr>
              <td>
                <button (click)="GenerateCode()" class="taoma col-md-4" type="button">Tạo mã
                  thi
                </button>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input disabled matInput value="{{list.Code}}">
                </mat-form-field>

              </td>
            </tr>
          </table>

          <button (click)="submit()" class="apply" type="submit"> Apply</button>

        </form>
      </div>
    </div>
