<div class="content-wrapper">
  <div class="container col-md-12" style="padding: 0;">
    <div class="container col-md-12">
      <div class="container col-md-6" style="padding: 2% 0 2% 0">
        <input [(ngModel)]="searchString" placeholder="Search by Full Name" type="text">
        <button (click)="onSearch()" type="submit"><i class="fa fa-search"></i></button>
      </div>
      <div class="container col-md-6" style="padding: 2% 0 2% 0">
        <span data-placement="top" data-toggle="tooltip">
          <button class="btn btn-primary" data-target="#create" data-title="Create" id="Create"
                  routerLink="/user/create" style="float: right;">
            <span>Create</span>
          </button>
        </span>
      </div>
      <hr/>
    </div>
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-description>
              Click to open Filter
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form (ngSubmit)="onFilter()" [formGroup]="filterForm" novalidate>
            <div class="col-md-12">
              <mat-form-field class="col-md-5">
                <mat-label>Position</mat-label>
                <mat-select formControlName="Position">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let group of PositionApi" [value]="group.Position">
                    {{group.Position}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-5">
                <mat-label>Department</mat-label>
                <mat-select formControlName="Department">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let group of DepartmentApi" [value]="group.Department">
                    {{group.Department}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <button class="col-md-1" mat-raised-button style="color: white;background-color: #3f51b5;" type="submit">
                Filter
              </button>
            </div>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true">
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="container col-md-12" style="text-align: center">
    <h2>List User
      <button (click)="removeSelectedRows()" color="warn" mat-raised-button style="float: right">Delete</button>
    </h2>
  </div>

  <div>
    <table [dataSource]="dataSource" mat-table matSort>

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" [aria-label]="checkboxLabel()"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- UserName Column -->
      <ng-container matColumnDef="UserName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> User Name</th>
        <td *matCellDef="let element" mat-cell> {{element.UserName}} </td>
      </ng-container>

      <!-- FullName Column -->
      <ng-container matColumnDef="FullName">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Full Name</th>
        <td *matCellDef="let element" mat-cell> {{element.FullName}} </td>
      </ng-container>

      <!-- Enail Column -->
      <ng-container matColumnDef="Email">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
        <td *matCellDef="let element" mat-cell> {{element.Email}} </td>
      </ng-container>
      <!-- Department column-->
      <ng-container matColumnDef="Department">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Department</th>
        <td *matCellDef="let element" mat-cell> {{element.Department}} </td>
      </ng-container>
      <!-- Position column-->
      <ng-container matColumnDef="Position">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Position</th>
        <td *matCellDef="let element" mat-cell> {{element.Position}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th *matHeaderCellDef mat-header-cell> Action</th>
        <td *matCellDef="let element" mat-cell>
          <span data-placement="top">
            <button (click)="detail(element.UserId)" class="btn btn-success btn-xs" data-target="#Detail" data-title="Detail"
                    data-toggle="modal" title="Detail">
              <span class="glyphicon glyphicon-list-alt"></span>
            </button>

          </span>
          <span data-placement="top" data-toggle="tooltip" title="Update">
            <button (click)="Edit(element.UserId)" class="btn btn-primary btn-xs"><span
              class="glyphicon glyphicon-pencil"></span></button>
          </span>
          <span data-placement="top" data-toggle="tooltip" title="Delete">
            <button (click)="onDelete(element.UserId)" class="btn btn-danger btn-xs" data-target="#delete" data-title="Delete"
                    data-toggle="modal">
              <span class="glyphicon glyphicon-trash"></span>
            </button></span>

        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumn" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumn;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15,20]" showFirstLastButtons></mat-paginator>
  </div>

  <div aria-hidden="true" aria-labelledby="Detail" class="modal fade" id="Detail" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="width: 500px">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button"><span
            aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
          <h4 style="margin-left: 35%">Profile User</h4>
        </div>
        <div class="modal-body" style="height: 300px">
          <div *ngIf="getUsers">
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">FullName :</label>
            <div class="col-sm-9"><p>{{getUsers.FullName}}</p></div>
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">UserName :</label>
            <div class="col-sm-9"><p>{{getUsers.UserName}}</p></div>
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">Email :</label>
            <div class="col-sm-9"><p>{{getUsers.Email}}</p></div>
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">Department :</label>
            <div class="col-sm-9"><p>{{getUsers.Department}}</p></div>
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">Position :</label>
            <div class="col-sm-9"><p>{{getUsers.Position}}</p></div>

          </div>
          <div>
            <label class="col-sm-3 col-form-label col-form-label-sm" for="colFormLabelSm">Group :</label>
            <div class="col-sm-9">
              <p *ngFor="let users of user">{{users.GroupName}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
