<form [formGroup]="ctForm">
    <button style="margin-left: 80%;" type=" button" class="btn btn-danger"><a href="http://localhost:4200/ViewListQuestion">Back Home</a></button>
  <div class="row">
    <h2 style="margin-left: 45%;">Detail Question</h2>
    <div *ngFor="let item of Question" class="col-md-offset-3">
        
      <div class="col-md-2">
        Category:
      </div>
      <div class="col-md-10">
        {{item.Category}}
      </div>
      <hr>
      <div class="col-md-2">
        Content:
      </div>
      <div class="col-md-10">
        {{item.Content}}
      </div>
      <hr>
      <div class="col-md-2">
        status:
      </div>
      <div class="col-md-10">
        {{item.status}}
      </div>
      <hr>
      <div class="col-md-2">
        Createdate:
      </div>

      <div class="col-md-4">{{item.Createdate}}</div>
      <div class="col-md-2">Update by</div>
      <div class="col-md-4">{{item.UpdateBy}}</div>
      <hr>
      <div class="col-md-2">
        Update by:
      </div>
      <div class="col-md-4">nhvan</div>
      <div class="col-md-2">Update date</div>
      <div class="col-md-4">23/12/2013</div>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-offset-2">
        <h3 style="margin-left: 45%">Answer</h3>
        <div class="col-md-1">
          <h4 style="float: right">1</h4>
        </div>
        <div class="col-md-9" style="border: 1px solid grey">
          <div class="col-md-2">
            Question Id
          </div>
          <div class="col-md-10">
            23
          </div>
          <div class="col-md-2">
            Status:
          </div>
          <div class="col-md-10">Active</div>
          <div class="col-md-2">
            Content:
          </div>
          <div class="col-md-10">
            3 animal
          </div>
          <div class="col-md-2">
            Istrue
          </div>
          <div class="col-md-2">
            Yes
          </div>
          <div class="row">
            <div class="col-md-2">
              Createdate:
            </div>

            <div class="col-md-4">22/12/2012</div>
            <div class="col-md-2">Update by</div>
            <div class="col-md-4">nhvan</div>
            <hr>
            <div class="col-md-2">
              Update by:
            </div>
            <div class="col-md-4">nhvan</div>
            <div class="col-md-2">Update date</div>
            <div class="col-md-4">23/12/2013</div>
            <hr>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>