
.abc {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  margin-top: -100px;

}

.box {

  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  margin: 25px;
  left: 7%;
  margin-top: 17px;
  border: none;

}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 4px solid #009CDE;
  border-bottom: 4px solid #009CDE;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);

}

.box:hover:before {
  transform: scaleY(1);
}

.box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 4px solid #009CDE;
  border-left: 4px solid #009CDE;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);

}

.box:hover:after {
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.box h1 span {
  font-size: 13px;
  display: block;;

}


.box h1 {
  margin: 0;
  padding: 0;
  color: #262626;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 24px;
  // text-transform:uppercase;
  z-index: 1;

}

.box span.boder {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(45deg);
  pointer-events: none;
  box-sizing: border-box;

  // background:rgba(0,0,0,.5);
}

.box span.boder:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-top: 4px solid #009CDE;
  border-bottom: 4px solid #009CDE;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);

}

.box:hover span.boder:before {
  transform: scaleY(1);
  transition-delay: 1s;

}

.box span.boder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-right: 4px solid #009CDE;
  border-left: 4px solid #009CDE;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);

}

.box:hover span.boder:after {
  transform: scaleY(1);
  transition-delay: 1.5s;
}

.pointer {
  cursor: pointer;
}
.page{
  left: 100%;
}
.my-pagination /deep/ .ngx-pagination  {
  margin-left: 155vh;
}
.text-center{
  font-size: 15px;
}
 //css slide
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --line-offset: calc((10vh + 8px) / 2);
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 5fr 1fr;
  //background: #021919;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.tab {
  width: calc(10vh + 8px);
  height: calc(10vh + 8px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  z-index: 0;
  transition: width 0.5s;
}

.tab img {
  width: 10vh;
  height: 10vh;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);
  transition: width 0.5s;
}

[type=radio] {
  display: none;
}

.preview-list {
  background: linear-gradient(
      #021919,
      #021919 var(--line-offset),
      #efefef var(--line-offset)
  );
}

.tab {
  background: linear-gradient(
      #efefef,
      #efefef var(--line-offset),
      #021919 var(--line-offset)
  );
}

[type=radio]:checked ~ label ~ .content{
  text-align: center;
  z-index: 8;
}


[type=radio]:checked ~ label .tab{
  width: 0;
}

.content {
  position: absolute;
  background: #021919;
  top: 1vh;
  left: 0;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content img {
  height: auto;
  width: 100vw;
}



