	
.abc{
	display: flex;
    flex-wrap: wrap;
    position: relative;
	justify-content: center;
	margin-top: -100px;

}
.box{
		
	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    float: left;
	margin: 25px;
	left: 7%;
	margin-top: 17px;
	border: none;	
		
	}
	.box:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:none;
		border-top:4px solid #009CDE;
		border-bottom:4px solid #009CDE;
		box-sizing:border-box;
		transition:0.5s;
		transform:scaleX(0);
		
	}
	.box:hover:before{
		transform:scaleY(1);
	}
	
	.box:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:none;
		border-right:4px solid #009CDE;
		border-left:4px solid #009CDE;
		box-sizing:border-box;
		transition:0.5s;
		transform:scaleY(0);
		
	}
	.box:hover:after{
		transform:scaleY(1);
		transition-delay:0.5s;
	}
	 .box h1 span{
		font-size:13px;
	    display:block;
	   ;
	   
	 }
	
	
	.box h1{
		margin:0;
		padding:0;
		color:#262626;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		width:100%;
		text-align:center;
		font-size:24px;
		// text-transform:uppercase;
		z-index:1;
		
	}
	.box span.boder{
		position:absolute;
		width:100%;
		height:100%;
		display:block;
		transform:rotate(45deg);
		pointer-events:none;
		box-sizing:border-box;
		
		// background:rgba(0,0,0,.5);
	}
	
	.box span.boder:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:none;
		border-top:4px solid #009CDE;
		border-bottom:4px solid #009CDE;
		box-sizing:border-box;
		transition:0.5s;
		transform:scaleX(0);
		
	}
	.box:hover span.boder:before{
		transform:scaleY(1);
		transition-delay:1s;
		
	}
	
	.box span.boder:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		border:none;
		border-right:4px solid #009CDE;
		border-left:4px solid #009CDE;
		box-sizing:border-box;
		transition:0.5s;
		transform:scaleY(0);
		
	}
	.box:hover span.boder:after{
		transform:scaleY(1);
		transition-delay:1.5s;
	}

	.pointer {cursor: pointer;}
	