//* {
//  -webkit-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//body {
//  padding: 0;
//  margin: 0;
//}
//
//#notfound {
//  position: relative;
//  height: 100vh;
//}
//
//#notfound .notfound {
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  -webkit-transform: translate(-50%, -50%);
//  -ms-transform: translate(-50%, -50%);
//  transform: translate(-50%, -50%);
//}
//
//.notfound {
//  max-width: 767px;
//  width: 100%;
//  line-height: 1.4;
//  padding: 0px 15px;
//}
//
//.notfound .notfound-404 {
//  position: relative;
//  height: 150px;
//  line-height: 150px;
//  margin-bottom: 25px;
//}
//
//.notfound .notfound-404 h1 {
//  font-family: 'Titillium Web', sans-serif;
//  font-size: 186px;
//  font-weight: 900px;
//  margin: 0px;
//  text-transform: uppercase;
//  // background: url('../img/text.png');
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//  background-size: cover;
//  background-position: center;
//}
//
//.notfound h2 {
//  font-family: 'Titillium Web', sans-serif;
//  font-size: 26px;
//  font-weight: 700;
//  margin: 0;
//}
//
//.notfound p {
//  font-family: 'Montserrat', sans-serif;
//  font-size: 14px;
//  font-weight: 500;
//  margin-bottom: 0px;
//  text-transform: uppercase;
//}
//
//.notfound a {
//  font-family: 'Titillium Web', sans-serif;
//  display: inline-block;
//  text-transform: uppercase;
//  color: #fff;
//  text-decoration: none;
//  border: none;
//  background: #5c91fe;
//  padding: 10px 40px;
//  font-size: 14px;
//  font-weight: 700;
//  border-radius: 1px;
//  margin-top: 15px;
//  -webkit-transition: 0.2s all;
//  transition: 0.2s all;
//}
//
//.notfound a:hover {
//  opacity: 0.8;
//}
//
//@media only screen and (max-width: 767px) {
//  .notfound .notfound-404 {
//    height: 110px;
//    line-height: 110px;
//  }
//  .notfound .notfound-404 h1 {
//    font-size: 120px;
//  }
//}


//// css not found

body {
  background-color: #2F3242;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s;
}
#Polygon-3 {
  animation-delay: .4s;
}
#Polygon-4 {
  animation-delay: .6s;
}
#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
